body{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmEJG834hMQ7mCPmd3cEiZE1IUS87Sdv693w&s');
    background-repeat: repeat;
    background-size: cover;
}
.box1{
    
    width: fit-content;
    border:4px solid whitesmoke;
    padding-right: 2%;
    padding-left: 3%;
    padding-top: 0%;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    align-items: center;
    align-content: center;
    background-position: center;
    justify-content: center;
    position: relative;
    margin: 10% 25%;
}
.text1{
    text-shadow: 1px 1px 1px;
    color:rgb(92, 62, 5);
    border: 2px solid black;
    background-color: cornsilk;
    padding-left: 10px;
    padding-right:2% ;
    border-radius: 10px;
    
    
}
.bos{
    
    cursor: text;
    border: 2px solid brown;
    backface-visibility: inherit;
    background-image: url('https://wallpapers.com/images/high/book-pages-dark-j4ghtlbdkgb3m4e9.jpg');
    background-size: 200px 30px;
    text-decoration: solid;
    color: rgb(251, 250, 244);
    font-size: larger;
    line-height: 0.8;
    border-radius: 19px;
    
}
#texbos{
    width: 300px;
    height: 50px;
    background-image: url(https://wallpapers.com/images/high/book-pages-dark-j4ghtlbdkgb3m4e9.jpg);
    background-size: 300px 50px;
    color: beige;
    font-size: large;
    border-radius: 10px;
    
}
.text2:hover{
    background-color: beige;
    transition: ease-in;
    filter: drop-shadow(0 0 2px black);
}
.bos2{
    cursor: pointer;
    border: 2px solid brown;
    backface-visibility: inherit;
    background-image: url('https://wallpapers.com/images/high/book-pages-dark-j4ghtlbdkgb3m4e9.jpg');
    background-size: 200px 30px;
    text-decoration: solid;
    color: rgb(251, 250, 244);
    font-size: larger;
    line-height: 0.8;
    border-radius: 19px;

}
#h{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    color:azure;
    text-shadow: 0 0 2px black;
    font-size: 30px;
}

 